<style>
    /* Style for the container to make images appear in a line */
    .image-container {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
    }

    /* Style for the images */
    .payment-icon {
        width: 60px; /* Set the width to a smaller size */
        margin: 0.5rem; /* Add some margin around each image */
    }
</style>

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>

            <!-- ko if: getCode() == 'HyperPay_CreditCard' -->
                <div id="imageContainer" class="image-container">
                    <!-- ko foreach: getMultiplePaymentAcceptanceMarkSrc() -->
                    <img data-bind="attr: {src: $data, alt: 'Acceptance Mark', class: 'payment-icon'}" />
                    <!-- /ko -->
                </div>
            <!-- /ko -->

            <!-- ko ifnot: getCode() == 'HyperPay_CreditCard' -->
            <img width="20%" style="margin-left:80%;"
                 data-bind="attr: {src: getPaymentAcceptanceMarkSrc(), alt: 'Acceptance Mark'}" class="payment-icon"/>

            <!-- /ko -->


        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
